@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&family=Press+Start+2P&family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    position: relative;
    margin-top: 10%;
}

html, body {
    background-image: url('https://64.media.tumblr.com/d5241575957089ba6a2de5f8e35a76c8/tumblr_nok6rpNNmU1uo5tbio1_1280.gifv');
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4rem;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ==== CONTENT ==== */
section {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0px 0px 15px 10px #5e2f61;
    box-shadow: 0px 0px 15px 10px #5e2f61;
}

.panel p {
    opacity: .8;
    transition: 1s ease-in;
}

.panel p.active {
    opacity: 1;
    color: rgb(134, 89, 177);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 10px #5e2f61;
    box-shadow: 0px 0px 15px 10px #5e2f61;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    background-color: whitesmoke;
    opacity: 70%;
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 5.6 rem;
}

.time p:nth-of-type(2) {
    position: relative;
}

.controls button {
    border: none;
    background-color: transparent;
    color: #5e2f61;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 30px;
}

.controls #reset {
    display: none;
    margin-top: 20px;
}